/* Dash rebrand, 2018-05-28 */
a {
  color: #008de4;
}

.btn-info {
  background-color: #008de4;
  border-color: #ffffff
}

.btn-info:hover {
  background-color: #0478c3;
  border-color: #ffffff
}

/** maybe these too, not 100% sure...
.btn-info.disabled.focus,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled].focus,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:hover {
    background-color: #008de4;
    border-color: #46b8da;
}

.btn-info .badge {
    color: #008de4;
    background-color: #ffffff;
}
*/

.label-info {
    background-color: #008de4;
}

.progress-bar-info {
  background-color: #008de4;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
  background-color: #e6e8ec;
}

.block-id {
  background-color: #012060;
}

.btn-primary {
  background-color: #008de4;
  border: 2px solid #ffffff;
}

.txvalues-primary {
  background-color: #8a8a8a;
}

.txvalues-success {
  background-color: #01215f;
}

/* Set the fixed height of the footer here */
#footer {
  background-color: #111921;
}
